<p id="notice"><%= notice %></p>

<h1>Cards in "<%=@deck.name %>"</h1>

<% if @cards.any? %>

  <table>
    <thead>
      <tr>
        <th>Card</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @cards.each do |card| %>
        <tr>
          <td><%= link_to card.name, [@deck, card] %></td>
          <td><%= link_to 'Edit', edit_deck_card_path(@deck, card) %></td>
          <td><%= link_to 'Delete', [@deck, card], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no cards in the deck.</p>
<% end %>

<br>

<%= link_to 'Add Card', new_deck_card_path(@deck) %>
