
<h1>My Decks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td><%= link_to deck.name, deck %></td>
        <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
        <td><%= link_to 'Manage Cards', deck_cards_path(deck) %></td>
        <td><%= link_to 'Delete', deck, method: :delete, data: { confirm: 'Are you sure you want to remove this deck and all its cards?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deck', new_deck_path %>
