<p id="notice"><%= notice %></p>

<h2> <%= @deck.name %></h2>

<p>
  <%= @deck.description %>
</p>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Manage', deck_cards_path(@deck) %> |
<%= link_to 'View', player_path(@deck) %> |
<%= link_to 'Back', decks_path %>
